<!DOCTYPE html>



<head>
    <meta charset="UTF-8">
    <title>credential edit</title>
    {% embed "@PfaProject/layout/stylish.html.twig" %}
    {% endembed %}
</head>

<body>
{% set account = true %}
{% if account == 'EMPLOYEE' %}
{% embed "@PfaProject/layout/employeeNavbar.html.twig" %}
{% endembed %}
{% elseif account == 'MANAGER' %}
{% embed "@PfaProject/layout/managerNavbar.html.twig" %}
{% endembed %}
{% endif %}
<br><br><br><br><br>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class='container container-fluid'>

    <form class='form' action = ' {{ path('credential-edit-set') }}' method = 'POST' >
        <fieldset>


            <div class=' ' >
                <div class="form-group">
                    <label class="col-form-label" for="inputDefault">Username</label>
                    <input name="username" value="{{username}}" type="text" class="form-control col-sm-3" placeholder="Enter username..." id="inputDefault" onkeyup='check();'/>

					</div>
				</div>

				<div class=' ' >
					<div class="form-group">
					  <label class="col-form-label" for="inputDefault">New password</label>
					  <input type="password" name="password" id="password" onchange='check_pass();' class="form-control col-sm-3" placeholder="Enter password..." />

					</div>
				</div>

				<div class=' '>
					<div class="form-group">
					  <label class="col-form-label" for="inputDefault">Confirm password</label>
					  <input type="password" name="confirm_password" id="confirm_password" onchange='check_pass();' class="form-control col-sm-3" placeholder="Confirm password..." />

					</div>
				</div>

				<br>
				<div class=' ' >
					<div th:switch="${msgColour}">
						<p th:case="success"><span class="badge badge-success" th:text="${msg}"></span></p>
						<p th:case="danger"><span class="badge badge-danger" th:text="${msg}"></span></p>
					</div>

					<input type="submit" name="submit"    id="submit" disabled  class='btn btn-info btn-lg' value = 'Update' />
				</div>


			</fieldset>



		</form>

	</div>

	<br><br><br><br><br>

</body>

<script language="JavaScript">

    function check_pass() {
        if (document.getElementById('password').value ===
            document.getElementById('confirm_password').value) {
            document.getElementById('submit').disabled = false;
        } else {
            document.getElementById('submit').disabled = true;
        }
    }
</script>
</html>
