<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title></title>

    {%  embed "@PfaProject/layout/stylish.html.twig" %}
    {% endembed %}
</head>

<body>

<br><br><br><br><br><br>

<div class='container container-fluid'>

    <div align='center' class="jumbotron">
        <br><br><br>
        <h1 class="display-3">Welcome Teams!</h1>
        <br>
        <hr class="my-4">
        <br>
        <p class="lead">
        <table></table>
        <a class="btn btn-info btn-lg " href="{{ path('loginindex') }}"  role="button"><strong>Are you an Employee ?</strong></a> &nbsp;&nbsp;&nbsp;
        <a class="btn btn-info btn-lg " href="{{ path('loginindex') }}"  role="button"><strong>Are you a Manager ?</strong></a>
        </p>
        <div align='center' >
            <p class='lead' >
                <a class="btn btn-info btn-lg " href="{{ path('admin-log') }}" role="button"><strong>Are you an Admin ?</strong></a>
            </p>
        </div>
        <br><br><br>
    </div>

</div>

<br><br><br><br><br>

<div
{%  embed "@PfaProject/layout/js.html.twig" %}
{% endembed %}
</div>

</body>
</html>