<!DOCTYPE html>

<html >

<head>
    <meta charset="UTF-8">
    <title>employee index</title>

    {% embed "@PfaProject/layout/stylish.html.twig" %}
    {% endembed %}
</head>

<body>

{% embed "@PfaProject/layout/adminnavbar.html.twig" %}
{% endembed %}
<br><br><br><br><br>



<div class='container container-fluid'>

    <div align='center' class="jumbotron">
        <br><br><br>
             <h1 class="display-3">ADMINISTRATOR DASHBOARD</h1>
        <br>
        <hr class="my-4">
        <br>
        <p class="lead">
        <table></table>
        <a class="btn btn-dark " href="{{ path('employees-list') }}"  role="button"><strong>Gérer employés</strong></a> &nbsp;&nbsp;&nbsp;
        <a class="btn btn-dark " href="{{ path('departments-list') }}"  role="button"><strong>Gérer Départements</strong></a>&nbsp; &nbsp;
        <a class="btn btn-dark" href="{{ path('locations-list') }}"  role="button"><strong>Gérer Location</strong></a>&nbsp; &nbsp;
        </p>

        <br><br><br>
    </div>

</div>





</body>
</html>