<!DOCTYPE html>



<head>
    <meta charset="UTF-8">
    <title>Departments edit</title>
    {% embed "@PfaProject/layout/stylish.html.twig" %}
    {% endembed %}
</head>

<body>

{% embed "@PfaProject/layout/adminnavbar.html.twig" %}
{% endembed %}
<br><br><br><br><br>

<div class='container container-fluid'>

    <form class='form' action='{{ path('locationp-addpersist') }}' method = 'POST' >
        <fieldset>
            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Adresse</label>
                <input name="adr"   type="text"  class="form-control col-sm-3 " placeholder="Adresse..." id="inputDefault" />

            </div>
            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Code postale</label>
                <input name="postalCode"  type="text" class="form-control col-sm-3" placeholder="Code postale..." id="inputDefault" />

            </div>
            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Ville</label>
                <input name="city"  type="text" class="form-control col-sm-3" placeholder="Ville..." id="inputDefault" />


            </div>
        </fieldset>

        <br>


        <input type='submit' class='btn btn-info btn-lg ' value = 'Ajouter Location' onclick="return confirm('Voulez vous ajouter un nouveau location')" />

    </form>

</div>



<br><br><br><br><br>

</body>
</html>